# Descriptive Statistics Assignment

In [ ]:
import pandas as pd

data_url = "http://data.insideairbnb.com/united-states/ny/new-york-city/2020-06-08/visualisations/listings.csv"

### Read the aggregated AirBnB listings of New York (using `data_url`) into a Pandas data frame.

In [59]:
df = pd.read_csv(data_url)

### Print the data type for each column.

In [62]:
df.dtypes

id                                  int64
name                               object
host_id                             int64
host_name                          object
neighbourhood_group                object
neighbourhood                      object
latitude                          float64
longitude                         float64
room_type                          object
price                               int64
minimum_nights                      int64
number_of_reviews                   int64
last_review                        object
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
dtype: object

### Generate a basic set of descriptive statistics for the numeric fields in the data set.

In [66]:
df.select_dtypes(['int64', 'float64']).describe()

                 id  ...  availability_365
count  4.953000e+04  ...      49530.000000
mean   2.295964e+07  ...        126.666848
std    1.352683e+07  ...        142.381428
min    2.060000e+03  ...          0.000000
25%    1.085050e+07  ...          0.000000
50%    2.233602e+07  ...         79.000000
75%    3.557779e+07  ...        267.000000
max    4.370336e+07  ...        365.000000

[8 rows x 10 columns]

### Calculate the following for each numeric field in the data set and add them to the data frame containing the basic set of descriptive statistics.

- Variance
- Mean Absolute Deviation
- Range
- Interquartile Range

### Generate a basic set of descriptive statistics for the categorical fields in the data set.

In [68]:
df.select_dtypes(['object']).describe()

                       name host_name  ...        room_type last_review
count                 49512     49524  ...            49530       38211
unique                48247     11572  ...                4        2077
top     Home away from home   Michael  ...  Entire home/apt  2020-01-01
freq                     21       416  ...            25716         940

[4 rows x 6 columns]

### Calculate the Pearson correlation coefficients between price, minimum_nights, reviews_per_month, calculated_host_listings_count and availability_365

In [77]:
pcorr_data = df[['price', 'minimum_nights', 'reviews_per_month', 'calculated_host_listings_count', 'availability_365']]
pcorr_data.corr(method='pearson')

                                   price  ...  availability_365
price                           1.000000  ...          0.055788
minimum_nights                  0.015923  ...          0.148435
reviews_per_month              -0.011623  ...          0.213093
calculated_host_listings_count  0.004730  ...          0.173181
availability_365                0.055788  ...          1.000000

[5 rows x 5 columns]

### Group the data by neighbourhood and calculate the mean and standard deviation of price for each neighbourhood.

In [79]:
df.groupby("neighbourhood")["price"].mean()

neighbourhood
Allerton             94.500000
Arden Heights       102.600000
Arrochar            104.315789
Arverne             187.125000
Astoria             104.109865
                      ...
Windsor Terrace     138.067114
Woodhaven            69.638095
Woodlawn             61.700000
Woodrow            2350.000000
Woodside             69.383721
Name: price, Length: 222, dtype: float64

In [80]:
df.groupby("neighbourhood")["price"].std()

neighbourhood
Allerton             83.219379
Arden Heights        54.834296
Arrochar            136.241229
Arverne             231.710658
Astoria             124.606979
                      ...
Windsor Terrace      89.830596
Woodhaven            43.294191
Woodlawn             24.882167
Woodrow            2333.452378
Woodside             85.328235
Name: price, Length: 222, dtype: float64

### Create a new mimimum revenue index variable that combines the price, minimum nights, calculate host listings count into a single value for each dwelling. Then sort the data frame by that value to see which dwelling has the most financial strength.

In [82]:
df['min_revenue']= df['price']*df['minimum_nights']*df['calculated_host_listings_count']
df.head()

     id  ... min_revenue
0  2060  ...         100
1  2595  ...        1350
2  3831  ...          89
3  5099  ...         600
4  5121  ...        1740

[5 rows x 17 columns]

### Group the data by neighbourhood_group and calculate the average minimum revenue index for each neighbourhood_group.

In [84]:
df.groupby("neighbourhood_group")["min_revenue"].mean()

neighbourhood_group
Bronx              987.498331
Brooklyn          3434.846270
Manhattan        48328.517097
Queens            7537.764338
Staten Island     1201.845946
Name: min_revenue, dtype: float64