# SQL in Python Assignment

In [16]:
import pandas as pd
from sqlalchemy import *

### Connect to the personal database you created yesterday.
Remember the way the credentials work:
```
user = 'postgres' # Replace with your user, if different
pwd = 'pAsSwOrD' # Replace with your password
host = 'localhost'
port = '5432'
db = 'postgres' # Replace with your database name, if different
```

In [19]:
postgres_user = "postgres"
postgres_pw = "postgres"
postgres_host = "localhost"
postgres_port = "5433"
postgres_db = "Personal_DB"

conn_str = "postgresql://{}:{}@{}:{}/{}".format(
    postgres_user, postgres_pw, postgres_host, postgres_port, postgres_db
)

engine = create_engine(conn_str)

### Obtain a list of tables that are in the database.

In [30]:
houses = engine.execute('SELECT * FROM houseprices LIMIT 10')
engine.table_names()

['vehicles', 'houseprices']

### Obtain a list of all the fields that are in the vehicles table along with the data type of each.

In [63]:
table = Table("vehicles", metadata, autoload=True)
list(table.columns)

[Column('id', BIGINT(), table=<vehicles>),
 Column('make', TEXT(), table=<vehicles>),
 Column('model', TEXT(), table=<vehicles>),
 Column('year', BIGINT(), table=<vehicles>),
 Column('class', TEXT(), table=<vehicles>),
 Column('trans', TEXT(), table=<vehicles>),
 Column('drive', TEXT(), table=<vehicles>),
 Column('cyl', DOUBLE_PRECISION(precision=53), table=<vehicles>),
 Column('displ', DOUBLE_PRECISION(precision=53), table=<vehicles>),
 Column('fuel', TEXT(), table=<vehicles>),
 Column('hwy', BIGINT(), table=<vehicles>),
 Column('cty', BIGINT(), table=<vehicles>)]

### Write a SELECT query to retrieve all records from the database and load them into a Pandas data frame.

In [44]:
query="""
SELECT *
FROM vehicles
"""
vehicles = pd.read_sql_query(query, con=conn_str)

### Create a table that contains all Audi vehicles with a city fuel efficiency greater than 18.

In [66]:
#vehicles.head(5)
vehicles[(vehicles['make']=='Audi') & (vehicles['cty'] > 18)]


query_1="""
SELECT *
FROM vehicles
WHERE make = 'Audi' AND cty > 18
"""

audi_cty_g18 = pd.read_sql_query(query_1, con=conn_str)
audi_cty_g18

,id,make,model,year,class,trans,drive,cyl,displ,fuel,hwy,cty
0,2963,Audi,4000,1987,Subcompact Cars,Automatic 3-spd,Front-Wheel Drive,4.0,1.8,Regular,24,21
1,2964,Audi,4000,1987,Subcompact Cars,Manual 5-spd,Front-Wheel Drive,4.0,1.8,Regular,28,22
2,1749,Audi,4000 S,1986,Subcompact Cars,Automatic 3-spd,Front-Wheel Drive,4.0,1.8,Regular,24,21
3,1750,Audi,4000 S,1986,Subcompact Cars,Manual 5-spd,Front-Wheel Drive,4.0,1.8,Regular,28,22
4,53,Audi,4000s,1985,Subcompact Cars,Automatic 3-spd,Front-Wheel Drive,4.0,1.8,Regular,24,21
...,...,...,...,...,...,...,...,...,...,...,...,...
187,33613,Audi,TT Roadster quattro,2014,Two Seaters,Auto(AM-S6),All-Wheel Drive,4.0,2.0,Premium,31,22
188,34663,Audi,TT Roadster quattro,2015,Two Seaters,Auto(AM-S6),All-Wheel Drive,4.0,2.0,Premium,31,22
189,32410,Audi,allroad quattro,2013,Small Station Wagons,Automatic (S8),All-Wheel Drive,4.0,2.0,Premium,27,20
190,33178,Audi,allroad quattro,2013,Small Station Wagons,Automatic (S8),All-Wheel Drive,4.0,2.0,Premium or E85,27,20
191,33855,Audi,allroad quattro,2014,Small Station Wagons,Automatic (S8),All-Wheel Drive,4.0,2.0,Premium or E85,27,20

In [67]:
vehicles[(vehicles['make']=='Audi') & (vehicles['cty'] > 18)]

,id,make,model,year,class,trans,drive,cyl,displ,fuel,hwy,cty
7,13309,Audi,2.2CL/3.0CL,1997,Subcompact Cars,Automatic 4-spd,Front-Wheel Drive,4.0,2.2,Regular,26,20
8,13310,Audi,2.2CL/3.0CL,1997,Subcompact Cars,Manual 5-spd,Front-Wheel Drive,4.0,2.2,Regular,28,22
10,14038,Audi,2.3CL/3.0CL,1998,Subcompact Cars,Automatic 4-spd,Front-Wheel Drive,4.0,2.3,Regular,27,19
11,14039,Audi,2.3CL/3.0CL,1998,Subcompact Cars,Manual 5-spd,Front-Wheel Drive,4.0,2.3,Regular,29,21
13,14834,Audi,2.3CL/3.0CL,1999,Subcompact Cars,Automatic 4-spd,Front-Wheel Drive,4.0,2.3,Regular,27,20
...,...,...,...,...,...,...,...,...,...,...,...,...
33437,33305,Audi,fortwo electric drive convertible,2013,Two Seaters,Automatic (A1),Rear-Wheel Drive,NaN,NaN,Electricity,93,122
33438,34393,Audi,fortwo electric drive convertible,2014,Two Seaters,Automatic (A1),Rear-Wheel Drive,NaN,NaN,Electricity,93,122
33439,31065,Audi,fortwo electric drive coupe,2011,Two Seaters,Automatic (A1),Rear-Wheel Drive,NaN,NaN,Electricity,79,94
33440,33306,Audi,fortwo electric drive coupe,2013,Two Seaters,Automatic (A1),Rear-Wheel Drive,NaN,NaN,Electricity,93,122
33441,34394,Audi,fortwo electric drive coupe,2014,Two Seaters,Automatic (A1),Rear-Wheel Drive,NaN,NaN,Electricity,93,122

### Delete all records from the temp table you just created.

### Insert records from the vehicles table back into the table you created where the make is Audi and the city fuel efficiency is greater than 20.

### Update the drive field of the records in the table you created to change any "4-Wheel or All-Wheel Drive" values to "All-Wheel Drive."

### Write a for loop that iterates over the list of makes provided below, selects the top 10 vehicles with the highest city fuel efficiency for each make, and then concatenates all the results together into a single Pandas data frame.

In [ ]:
makes = ['Ford', 'Chevrolet', 'Toyota', 'Honda']